# Ignore any files ending in .o or .a
*.[oa]

# Ignore all files whose names end with a tilde
*~

# Ignore all files in these directories
build/
log/
tmp/
sim/
store/

# Ignore Visual Studio Code folder
.vscode/*
# Except tasks file
!.vscode/tasks.json

# Visual Studio Code Patch
# Ignore all local history of files
.history
.ionide